.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: deepskyblue;
  width: 300px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: red;
}

.name {
  padding: 5px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
}

.tag {
  padding: 5px;
  color: dimgrey;
}

.location {
  padding: 5px;
  color: dimgrey;
}

.stats {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid red;
  background-color: skyblue;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats > li {
  flex-basis: calc(100% / 3);
  text-align: center;
}

.stats > li:not(:last-child) {
  border-right: 1px solid red;
}

.label {
  color: dimgrey;
}

.quantity {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.178;
}
