.transaction-history {
  width: 600px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid red;
  border-radius: 10px;
  text-align: center;
  background-color: deepskyblue;
}

.head-list-item {
  width: 200px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}

.list {
  background-color: #fff;
  color: deepskyblue;
}

.list:nth-child(2n) {
  background-color: red;
  color: white;
}

.list-item {
  padding: 5px;
}
